**Work book for Data cleaning**

In [13]:
#library and function tab
import pandas as pd
import numpy as np

In [14]:
#import file
data1=pd.read_csv("finalroughdata.csv")
data1.head()

,#Table1,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,class,z,zErr,modelMag_g,modelMagErr_g,extinction_g,modelMag_r,modelMagErr_r,extinction_r
1,GALAXY,0.1857025,5.08E-05,20.27926,0.03302702,0.4045242,19.03009,0.01711092,0.279848
2,GALAXY,0.3530376,6.74E-05,20.41617,0.05136408,0.06821281,18.74046,0.01779921,0.0471893
3,GALAXY,0.5270418,9.89E-05,22.38628,0.1918816,0.09434251,20.59653,0.05853208,0.06526572
4,GALAXY,0.3979424,0.000153168,20.55792,0.06915754,0.2840845,18.78533,0.02308629,0.1965283

In [15]:
#first thing we notice is that the first row is actually the header
newheader=data1.iloc[0]
data1=data1[1:]
data1.columns=newheader
data1.head() #as you can see that is now fixed

,class,z,zErr,modelMag_g,modelMagErr_g,extinction_g,modelMag_r,modelMagErr_r,extinction_r
1,GALAXY,0.1857025,5.08E-05,20.27926,0.03302702,0.4045242,19.03009,0.01711092,0.279848
2,GALAXY,0.3530376,6.74E-05,20.41617,0.05136408,0.06821281,18.74046,0.01779921,0.0471893
3,GALAXY,0.5270418,9.89E-05,22.38628,0.1918816,0.09434251,20.59653,0.05853208,0.06526572
4,GALAXY,0.3979424,0.000153168,20.55792,0.06915754,0.2840845,18.78533,0.02308629,0.1965283
5,GALAXY,0.6132971,0.000307251,21.39559,0.2192976,0.1733137,19.90453,0.08991052,0.1198976

In [16]:
#now we want to to check our the data overall, such as data types
#and to change the column names to nicer things
data1.info()
#as you see all of the columns are objects, we want to change most to floats

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14089 entries, 1 to 14089
Data columns (total 9 columns):
class            14089 non-null object
z                14089 non-null object
zErr             14089 non-null object
modelMag_g       14089 non-null object
modelMagErr_g    14089 non-null object
extinction_g     14089 non-null object
modelMag_r       14089 non-null object
modelMagErr_r    14089 non-null object
extinction_r     14089 non-null object
dtypes: object(9)
memory usage: 990.7+ KB

In [17]:
#we need to change all columns but class to floats and change the titles
cleandata=data1.apply(pd.to_numeric,errors='ignore')
cleandata.columns=['class','redshift','redshift_err','green_mag','green_err',
                  'green_ext','red_mag','red_err','red_ext']
cleandata.info()
#we can see this works, now our data frame is clean and the correct data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14089 entries, 1 to 14089
Data columns (total 9 columns):
class           14089 non-null object
redshift        14089 non-null float64
redshift_err    14089 non-null float64
green_mag       14089 non-null float64
green_err       14089 non-null float64
green_ext       14089 non-null float64
red_mag         14089 non-null float64
red_err         14089 non-null float64
red_ext         14089 non-null float64
dtypes: float64(8), object(1)
memory usage: 990.7+ KB

In [18]:
#this will be our basic cleaned and aquired data
cleandata.to_csv('finalcleandata.csv')